.VPHero .image-src {
  max-width: 320px;
  max-height: 320px;
}

@media (min-width: 640px) {
  .VPHero .image-src {
    max-width: 380px;
    max-height: 380px;
  }
}

@media (min-width: 960px) {
  .VPHero .image-src {
    max-width: 480px;
    max-height: 480px;
  }
}
